@tailwind base;

@tailwind components;

@tailwind utilities;

.article-content > p {
    margin-top: 1rem;
}

.article-content > h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

.article-content > figure {
    margin-top: 1rem;
}

.wp-block-media-text {
    margin-top: 1rem;
    display: flex;
}

.wp-block-media-text > figure {
    flex-basis: 50%;
    padding-right: 1rem;
}

.article-content > blockquote {
    margin-top: 1rem;
    padding: .5rem 1rem;
    background: #edf3fa;
    font-style: italic;
    border-left: .6rem solid #818b96;
}

.article-content > ul {
    margin-top: 1rem;
    list-style-type: disc;
}

.article-content > ul li {
    margin: .5rem 0 .5rem 1rem;
}